* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header , .footer {
    background-color: #FE1A19;
    color: white;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    margin: 52px 70px;
}

body {
    font-size: 20px;
}

h2, .footer , .header {
    font-family: Helvetica, sans-serif;
}

.block1 , .block2 , .block3 {
    border: 5px solid #E5E000;
    border-radius: 30px;
    padding: 33px;

}

.block1 , .block2 {
    margin-right: 50px;
}

.block-header {
    margin-bottom: 41px;
}

.header {
    font-weight: 700;
}

li {
    list-style-type: none;
}

.block-paragraph:not(:last-child) {
    padding-bottom: 45px;
  }

.block-paragraph {
    font-weight: 400;
}