* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', serif;
  }

.header , .footer {
color: black;
font-size: 50px;
font-weight: 400;
text-align: center;
background-color: #FFE138 ;
padding: 52px 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.section {
    border: 1px solid #000000;
}



.section-text {
    margin: 30px;
    font-size: 20px;
}

.section-text > p:first-child {
    padding-bottom: 30px;
    font-weight: 700;
}

.section img {
    
    
}
 /* Макет для мобильных */
 @media only screen and (max-width: 390px) {
    .main-content {
        flex-wrap: wrap;
    }
    
  }
  
  /* Макет для десктопов */
  @media only screen and (min-width: 391px) {
    
   

    .section:not(:last-child) {
        margin-right: 20px;
    }
  }