* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  }

  .header , .footer {
 color: white;
 background-color: #0000FF;
 padding:33px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .section {
    border: 5px solid #000000;
  }

  .section > p {
    word-wrap: break-word;
  }
  /* Макет для мобильных */
  @media only screen and (max-width: 390px) {
    
    .main-content {
      padding: 23px;
    }

    .section {
      padding: 23px;
      text-align: center;
    }

    .section:not(:last-child) {
      margin-bottom: 41px;
    }

    .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    
    .footer-back {
      display: none;
    }
  }
  
  /* Макет для десктопов */
  @media only screen and (min-width: 391px) {
    .main-content {
      padding: 102px 0px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; 
       justify-content: center;
      width: 100%; 
    }

    .section {
      padding: 60px;
      text-align: center;
      display: block;
      width: 45%;
      margin: 20px;
    }

    
  }