* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Макет для мобильных */
  @media only screen and (max-width: 400px) {
    
  }
  
  /* Макет для десктопов */
  @media only screen and (min-width: 961px) {
    
  }